Dataset Source : Kaggle Dataset

Resource and Code : Computer Science youtube channel

link: https://www.youtube.com/watch?v=FMKnvsKoQxE

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('DOGE-USD.csv')
#set index as date
df=df.set_index(pd.DatetimeIndex(df['Date'].values))
df.head()

,Date,Open,High,Low,Close,Adj_Close,Volume
2018-01-01,2018-01-01,0.009031,0.009063,0.008101,0.008909,0.008909,50616900.0
2018-01-02,2018-01-02,0.008873,0.009598,0.008551,0.009145,0.009145,89424096.0
2018-01-03,2018-01-03,0.009088,0.009584,0.008882,0.009320,0.009320,66349900.0
2018-01-04,2018-01-04,0.009346,0.010036,0.008768,0.009644,0.009644,108986000.0
2018-01-05,2018-01-05,0.009660,0.012283,0.009589,0.012167,0.012167,212383008.0

In [3]:
df.isnull().sum()

Date         0
Open         4
High         4
Low          4
Close        4
Adj_Close    4
Volume       4
dtype: int64

In [4]:
df["Open"].fillna( method ='ffill', inplace = True)
df["High"].fillna( method ='ffill', inplace = True)
df["Low"].fillna( method ='ffill', inplace = True)
df["Close"].fillna( method ='ffill', inplace = True)
df["Adj_Close"].fillna( method ='ffill', inplace = True)
df["Volume"].fillna( method ='ffill', inplace = True)

In [5]:
df.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj_Close    0
Volume       0
dtype: int64

In [6]:
df=df[['Close']]
df.head()

               Close
2018-01-01  0.008909
2018-01-02  0.009145
2018-01-03  0.009320
2018-01-04  0.009644
2018-01-05  0.012167

In [7]:
pred_day=1
#collect the future price:
df['Prediction']=df[['Close']].shift(-pred_day)
df.tail()

               Close  Prediction
2021-01-31  0.037196    0.034875
2021-02-01  0.034875    0.031520
2021-02-02  0.031520    0.037120
2021-02-03  0.037120    0.047708
2021-02-04  0.047708         NaN

In [8]:
x=np.array(df.drop(['Prediction'],1))

In [9]:
x=x[:len(df)-pred_day-1]

In [10]:
x

array([[0.008909],
       [0.009145],
       [0.00932 ],
       ...,
       [0.037196],
       [0.034875],
       [0.03152 ]])

In [11]:
#create a dependent dataset
y=np.array(df['Prediction'])
y=y[:-pred_day-1]

In [12]:
y

array([0.009145, 0.00932 , 0.009644, ..., 0.034875, 0.03152 , 0.03712 ])

In [13]:
#split the data into 80:20:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.2)

In [14]:
from sklearn.ensemble import RandomForestRegressor
forest = RandomForestRegressor(n_estimators=4,random_state=587)
forest.fit(x_train,y_train)
print(forest.score(x_test,y_test))

0.9707240326740658

In [15]:
#show the values vs actual
pred=forest.predict(x_test)
#print:
print(pred)
print()
print(y_test)

[0.00244314 0.00553208 0.00244314 0.00244314 0.0062645  0.00329093
 0.00337249 0.00244314 0.00337249 0.00337249 0.00244314 0.00244314
 0.00337249 0.00326118 0.00784127 0.00244314 0.00244314 0.00244314
 0.00244314 0.00244314 0.00427723 0.00244314 0.00565486 0.00244314
 0.00326118 0.00337249 0.00446545 0.00244314 0.00244314 0.00244314
 0.00337249 0.00244314 0.00329093 0.00447263 0.00244314 0.00326118
 0.00553208 0.00244314 0.00244314 0.0098612  0.00244314 0.00337249
 0.00244314 0.00337249 0.00337249 0.00732321 0.00562349 0.00244314
 0.00244314 0.00244314 0.00337249 0.00244314 0.00329093 0.00244314
 0.00244314 0.00244314 0.00244314 0.01272062 0.00244314 0.00244314
 0.00447263 0.00244314 0.00326118 0.00337249 0.00244314 0.00244314
 0.00326118 0.00864851 0.00244314 0.00244314 0.00244314 0.00244314
 0.00244314 0.00244314 0.00244314 0.01272062 0.00350136 0.00329093
 0.00732321 0.00244314 0.00244314 0.00244314 0.00244314 0.00337249
 0.00329093 0.00337249 0.00244314 0.0041105  0.00244314 0.00616332
 0.00395553 0.00553208 0.00583277 0.00244314 0.00244314 0.00360788
 0.00244314 0.00337249 0.00244314 0.00244314 0.00244314 0.01272062
 0.00337249 0.00446545 0.00337249 0.00244314 0.00244314 0.00244314
 0.00244314 0.00244314 0.00244314 0.00244314 0.00244314 0.00897275
 0.00244314 0.00424075 0.00757031 0.00244314 0.00337249 0.00244314
 0.03292475 0.00244314 0.00930226 0.00244314 0.00244314 0.00244314
 0.0041105  0.00244314 0.00244314 0.00244314 0.00244314 0.00337249
 0.00930226 0.00337249 0.00244314 0.00244314 0.00244314 0.0041105
 0.00244314 0.00244314 0.00244314 0.00504341 0.00326118 0.00244314
 0.00244314 0.00244314 0.00267567 0.00244314 0.00628307 0.00244314
 0.00337249 0.00244314 0.00244314 0.00244314 0.00244314 0.00350136
 0.00244314 0.00244314 0.00337249 0.0041105  0.00504341 0.00553208
 0.00244314 0.00244314 0.00244314 0.00244314 0.00244314 0.00244314
 0.00244314 0.00244314 0.00244314 0.00337249 0.00244314 0.00244314
 0.00244314 0.00244314 0.00244314 0.00443454 0.00244314 0.00244314
 0.00337249 0.00244314 0.00244314 0.00244314 0.00244314 0.00244314
 0.00244314 0.00244314 0.00350136 0.00329093 0.00244314 0.00244314
 0.00582833 0.00337249 0.00244314 0.00244314 0.00244314 0.00244314
 0.00244314 0.00553208 0.00329093 0.00337249 0.005858   0.00244314
 0.00244314 0.00244314 0.00244314 0.00244314 0.00472    0.00427723
 0.00244314 0.00244314 0.00244314 0.01195787 0.00553208 0.00337249
 0.00337249 0.0099163  0.00244314 0.00244314 0.00329093 0.00244314
 0.00244314 0.00244314 0.00329093 0.00244314]

[0.001566 0.0058   0.002332 0.002083 0.006291 0.003064 0.003398 0.002753
 0.003428 0.003389 0.002326 0.002266 0.003229 0.003086 0.008448 0.002774
 0.002653 0.002407 0.002755 0.002424 0.004473 0.002369 0.005829 0.002521
 0.003091 0.00334  0.004494 0.002582 0.001773 0.002803 0.003535 0.002756
 0.003313 0.005412 0.002065 0.003067 0.005301 0.001865 0.001853 0.009846
 0.001785 0.003305 0.002241 0.003418 0.003439 0.006329 0.005545 0.002513
 0.002615 0.002241 0.003198 0.002073 0.003192 0.002657 0.002533 0.001685
 0.002601 0.01342  0.002155 0.001587 0.004397 0.002645 0.003033 0.003419
 0.002655 0.002208 0.002928 0.006967 0.002118 0.002443 0.002125 0.002616
 0.00246  0.002462 0.001666 0.015045 0.003659 0.003197 0.006024 0.002486
 0.00232  0.002217 0.002603 0.003225 0.002827 0.003282 0.002094 0.004017
 0.001894 0.004999 0.003533 0.005459 0.005695 0.00254  0.002662 0.003773
 0.00208  0.003204 0.002365 0.00268  0.002075 0.017088 0.003145 0.004744
 0.003384 0.00262  0.002437 0.00237  0.002039 0.002529 0.002319 0.00316
 0.002719 0.00906  0.002909 0.004385 0.007969 0.002021 0.003239 0.002053
 0.034875 0.002463 0.009265 0.003228 0.002605 0.002842 0.004286 0.002012
 0.002653 0.00238  0.001866 0.003234 0.009369 0.003654 0.002103 0.002531
 0.002188 0.003973 0.002524 0.003159 0.00251  0.005182 0.003093 0.002823
 0.00199  0.002802 0.003005 0.002354 0.005865 0.002794 0.003459 0.002441
 0.002083 0.002111 0.002531 0.003637 0.002223 0.002468 0.003543 0.00415
 0.005269 0.005539 0.002653 0.002648 0.002709 0.00199  0.0025   0.00236
 0.002505 0.002376 0.002083 0.003463 0.00298  0.002957 0.002787 0.002637
 0.002648 0.005164 0.002565 0.001999 0.003689 0.002226 0.002507 0.002611
 0.001807 0.002047 0.00263  0.002056 0.003532 0.003186 0.001971 0.002854
 0.005831 0.004361 0.002944 0.002028 0.002362 0.001983 0.002669 0.005
 0.003223 0.003561 0.006215 0.002388 0.002101 0.001956 0.001959 0.002064
 0.004682 0.004172 0.00309  0.002583 0.002706 0.013023 0.005638 0.003238
 0.003514 0.00986  0.002196 0.002795 0.002802 0.002028 0.001992 0.002592
 0.003079 0.002511]

In [16]:
df2=df[:-pred_day]
x_val=df2.tail(1)['Close'][0]
print(x_val)

0.03712

In [17]:
prediction=forest.predict([[x_val]])

In [18]:
print('The price of DogeCoin in',pred_day,'day(s) is to be',prediction)
print('The actual price was :',df2.tail(1)['Prediction'][0])

The price of DogeCoin in 1 day(s) is to be [0.03292475]
The actual price was : 0.047708